<div>    
    <app-particles></app-particles>
    <div fxLayout="row">
        <div fxLayout="row">
            <img class="homepage_portrait" src="../../assets/homepage_portrait.jpg">
        </div>
        <div fxLayout="column" class="main">
            <h1 class="title text">
                Audenaert Arthur - Développeur Freelance
            </h1>
            <h2 class="subtitle text">
                Concepteur et Développeur de solutions web modernes
            </h2>
        </div>
    </div>
</div>